.App {
  display: flex;
  justify-content: center;
}
.input-search{
  display: flex;
}
.search{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.ajout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: gray;
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}
.card{
  margin-top: 30px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  height: 50px;
}
.movie-card{
  padding: 30px;
  margin-top: 30px;
}
